#box {background-color: rgba(34, 34, 168, 0.7);
font-size: 2rem;
width: 50%;}
p {font-size: 33px;}
h1 {font-size: 25px;}
h2 {font-size: 1.5em;}
#text{color:#ffd220}
#text1 {color: rgb(255, 100, 4);}
#text2 {color: rgba(100, 100, 255, 0.7);}